*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/app/debug
/app/profile
/app/release

# Android related
/gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/GeneratedPluginRegistrant.java
/key.properties

/example/android/app/.cxx/